<!--Columns for Country information display-->
<div>
    <table>
        <thead>
            <tr>
                <th>
                    Country:&nbsp;
                </th>
                <td>
                    {{countryId}}
                </td>
            </tr>
            <tr>
                <th>
                    Capital:&nbsp;
                </th>
                <td>
                    {{countryCap}}
                </td>
            </tr>
            <tr>
                <th>
                    Region:&nbsp;
                </th>
                <td>
                    {{countryRegion}}
                </td>
            </tr>
            <tr>
                <th>
                    Income:&nbsp;
                </th>
                <td>
                    {{countryIncome}}
                </td>
            </tr>
            <tr>
                <th>
                    Latitude:&nbsp;
                </th>
                <td>
                    {{countryLat}}
                </td>
            </tr>
            <tr>
                <th>
                    Longitude:&nbsp;
                </th>
                <td>
                    {{countryLong}}
                </td>
            </tr>
        </thead>
    </table>
</div>