<header>
  <h1>
    <strong>Interactive World Map</strong>
  </h1>
</header>
<div class="container">
  <div>
    <div>
      <app-worldMap (svgIdenSelect)="selectSvgId = $event" (capitalSelect)="selectCapital = $event"
        (regionSelect)="selectRegion = $event" (incomeSelect)="selectIncome = $event"
        (latSelect)="selectLat = $event" (longSelect)="selectLong = $event"></app-worldMap>
    </div>
    <div>
      <table>
        <app-countryInformation [countryId]="selectSvgId" [countryCap]="selectCapital" [countryRegion]="selectRegion"
          [countryIncome]="selectIncome" [countryLat]="selectLat"
          [countryLong]="selectLong"></app-countryInformation>
      </table>
    </div>
  </div>
</div>
<div>
  <footer>API retrived from: <a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structures">worldbank.com</a></footer>
</div>